{% load static %}

<head>

<title>LOGIN</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>

<style>

.login-form-2 h3{
    background: rgb(4, 4, 80);
    color: #fff;
    padding: 2%
}


img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.col-lg-8{
    padding: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.btnSubmit{
    width: 100%;
    padding: 2%;
    cursor: pointer;
}

.col-lg-4 p{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

</style>
<br>
<br>

<div class="container-fluid login-container">
    <div class="row justify-content-md-center">
        <div class="col-lg-6 login-form-2">
            <h3>Child Care System</h3>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="{% static 'images/logo.jpg' %}" class="displayed" alt="..."/>
                    </div>
                    <div class="col-lg-8">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" name="username" class="form-control" placeholder="Username" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" placeholder="Password" value="" />
                            </div>
                            <center>
                            <div class="form-group">
                                <input type="submit" class="btn btnSubmit btn-primary" value="Login" />
                            </div>
                            </center>  
                            <div class="form-group">
                                <a href="{% url 'password_reset' %}" style="color: red;">Forgot Password?</a>
                            </div>
                        </form>
                        {% for message in messages %}
                        <p id='messages' style="color: red; text-align: center;"> {{ message }}  </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
