{% load static %}
{% block content %}
{% load auth_extras %}
<!DOCTYPE html>

<html>
    <head>
        <title>Vaccine Certificate</title>

        <style type="text/css">
            body {
                font-size: 14px;
            }

            table{
                border: 0.5px solid black;
            } 

            td{
                padding-top: 5px;
            }
        </style>
    </head>

    <body>
        <div class="wrapper">
            <img src="{% static 'images/vax-cert-logo.png' %}" alt="">
            <h1>CHILDCARE PEDIATRICIANS</h1>
            <hr>
            <br>
            <p>
                This is to certify that <b>{{patient.first_name}} {{patient.middle_name}} {{patient.last_name}}</b>,
                <b>{{patient.age}}, {{patient.sex}}</b>, of <b>{{patient.city}}</b> has completed the following 
                vaccinations: <br>

                <div class="vaccine-table">
                    <table class="table-bordered align-middle table-sm">
                          <thead class="thead-warning" style="background-color: rgb(214, 214, 214);">
                              <tr>
                                  <td><b>Vaccine</b></td>
                                  <td><b>Brand</b></td>
                                  <td><b>1st</b></td>
                                  <td><b>2nd</b></td>
                                  <td><b>3rd</b></td>
                                  <td><b>4th</b></td>
                                  <td><b>5th</b></td>
                              </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>BCG</td>
                                <td></td>
                                <td></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                              </tr>
                              <tr>
                                <td>Hepatitis B</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                              </tr>
                              <tr>
                                <td>DTaP/DTwP</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>OPV/IPV</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>Hib</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>PCV</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                              </tr>
                              <tr>
                                <td>Rotavirus</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                              </tr>
                              <tr>
                                <td>Measles</td>
                                <td></td>
                                <td></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                              </tr>
                              <tr>
                                <td>MMR</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                              </tr>
                              <tr>
                                <td>Varicella</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                              </tr>
                              <tr>
                                <td>Influenza</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>Jap Encephalitis B</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                              </tr>
                              <tr>
                                <td>Hepatitis A</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                              </tr>
                              <tr>
                                <td>Meningococcal</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                              </tr>
                              <tr>
                                <td>Typhoid</td>
                                <td></td>
                                <td></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                              </tr>
                              <tr>
                                <td>Tdap</td>
                                <td></td>
                                <td></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                                <td style="background-color: rgb(163, 161, 161);"></td>
                              </tr>
                              <tr>
                                <td>HPV</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>Others</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                          </tbody>
                    </table>
                  </div>
                
                <br> This certificate is being issued upon the request of the above-mentioned for
                whatever purpose it may serve, except those of a medico-legal-nature.<br><br><br>

                {{patient.attending_doctor}}
                <br>

                <p style="color: red;">NOT AN OFFICIAL DOCUMENT</p>
            </p>
        </div>
    </body>
</html>

{% endblock content %}