{% extends 'tracker/main.html' %}
{% block content %}

<style>
</style>

<nav class="navbar navbar-expand-xl" style="background-color: rgb(214, 214, 214);">
    <div class="container-fluid">
      <div class="collapse navbar-collapse me-auto" id="navbarTogglerDemo02">
        <div style="margin-right: auto; margin-top: 10px;">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-custom">
            <li class="nav-item" style="margin-right: 5px">
                <h4>Due Vaccines by Group</h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav>

<div class="container-fluid" style="padding:1%; ">
    <div class="row">
        <div class="col-lg-2" style="background-color: rgb(255, 255, 255);display: flex; justify-content: center; align-items: center; padding-top: 8%; padding-bottom: 8%;">
            <div class="btn-group-vertical" style="display: block;">
              <a class="btn btn-outline-primary active" href="#">Report</a>
              <a class="btn btn-outline-primary" href="{% url 'reminder' %}">Reminder</a>
              {% if request.user.physician.can_reg == "Yes" %}
              <div class="btn-group dropend">
                <a class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Staff
                </a>
                <ul class="dropdown-menu">
                    <a class="btn btn-outline-primary" href="{% url 'staffUpdate' %}">Update</a>
                    <a class="btn btn-outline-primary" href="{% url 'staffCreate' %}">Create</a>
                </ul>
              </div>
              {% endif %}
            </div>
        </div>
    </div>

    <div class="col-lg-10" style="background-color: white; padding-top: 0%; padding-bottom: 0%;">
        <div class="report-panel">
        </div>
    </div>
</div>

{% endblock content %}