{% include 'tracker/info_header.html' %}
{% block content %}
{% load customtags %}
<style>
    
</style>


<div class="container-fluid" style="padding:1%; ">
    <div class="row">
        <div class="col-lg-2" style="background-color: rgb(255, 255, 255);display: flex; justify-content: center; align-items: center; padding-top: 8%; padding-bottom: 8%;">
            <div class="btn-group-vertical" style="display: block;">
              <a class="btn btn-outline-primary" href="{% url 'patient' patient.id %}">Profile</a>
              <a class="btn btn-outline-primary" href="{% url 'appointment' patient.id %}">Appointment</a>
              <a class="btn btn-outline-primary" href="#">Vaccine</a>
              {% if request.user|has_group:"Doctor" or request.user|has_group:"Admin" %}
              <a class="btn btn-outline-primary">Portal</a>
              {% else %}
              {% endif %}
              <a class="btn btn-outline-primary" href="{% url 'certificate' patient.id %}">Certificate</a>
            </div>
        </div>

        <div class="col-lg-10" style="background-color: white; padding-top: 0%; padding-bottom: 0%;">
            <div class="vaccine-table">
              <table class="table-bordered align-middle table-sm" style="width: 100%;">
                    <thead class="thead-warning" style="background-color: rgb(214, 214, 214);">
                        <tr>
                            <td><b>Age</b></td>
                            <td><b>Vaccine</b></td>
                            <td><b>Dose</b></td>
                            <td><b>Brand</b></td>
                            <td><b>Date Given</b></td>
                            <td><b>Location</b></td>
                            <td><b>Remarks</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vaccine in vaccines %}
                        <tr>
                            <td>{{vaccine.age}}</td>
                            <td>{{vaccine.name}}</td>
                            <td>{{vaccine.dose}}</td>
                            <td>{{vaccine.brand}}</td>
                            <td>{{vaccine.date}}</td>
                            <td>{{vaccine.location}}</td>
                            <td>{{vaccine.remarks}}</td>
                        </tr>
                        {%  endfor %}
                    </tbody>
              </table>
              {% if request.user|has_group:"Doctor" or request.user|has_group:"Admin" %}
              <a class="btn btn-warning" href="{% url 'editVaccine' patient.id %}">Edit</a>
              {% else %}
              {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}