{% extends 'patientmonitoring/main.html' %}

{% block content %}
<style>
</style>

<nav class="navbar navbar-expand-xl" style="background-color: rgb(214, 214, 214);">
    <div class="container-fluid">
      <div class="collapse navbar-collapse me-auto" id="navbarTogglerDemo02">
        <div style="margin-right: auto; margin-top: 10px;">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-custom">
            <li class="nav-item" style="margin-right: 5px">
              <h2>{{patient.first_name}}</h2>
            </li>
            <li class="nav-item" style="margin-right: 20px">
              <h2>{{patient.last_name}}</h2>
            </li>
            <li class="nav-item" style="margin-right: 20px">
              <i><h5 style="margin-top: 10px;">({{patient.nick_name}})</h5></i>
            </li>
            <li class="nav-item" style="margin-right: 20px">
              <i><h5 style="margin-top: 10px;">{{patient.age}} years {{months}} months</h5></i>
            </li>
            <li class="nav-item" style="margin-right: 20px">
              <i><h5 style="margin-top: 10px;">{{patient.sex}}</h5></i>
            </li>
            <li class="nav-item" style="margin-right: 20px">
              <i><h5 style="margin-top: 10px;">{{patient.birthdate}}</h5></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav> 
  
<div class="container-fluid" style="padding:1%; ">
    <div class="row">
      {% for message in messages %}
      <p id='messages' style="color: green; text-align: center;"> {{ message }}  </p>
      {% endfor %}
    </div>
    <div class="row">
        <div class="col-lg-2" style="background-color: rgb(255, 255, 255);display: flex; justify-content: center; align-items: center; padding-top: 8%; padding-bottom: 8%;">
          <div class="btn-group-vertical" style="display: block;">
            <a class="btn btn-outline-primary" href="{% url 'patient' patient.id %}">Profile</a>
            <a class="btn btn-outline-primary" href="#">Appointment</a>
            <a class="btn btn-outline-primary">Vaccine</a>
            <a class="btn btn-outline-primary" href="{% url 'portal' patient.id%}">Portal</a>
            <a class="btn btn-outline-primary" href="{% url 'certificate' patient.id %}">Certificate</a>
          </div>
        </div>
        
        <div class="col-lg-10" style="background-color: white; padding-top: 8%; padding-bottom: 8%;">
          <div class="appointment-table">
            <table class="table-bordered align-middle table-sm" style="width: 100%;">
              <thead class="thead-warning" style="background-color: rgb(214, 214, 214);">
                
                <tr>
                  <td>Status</td>
                  <td>Date</td>
                  <td>Time</td>
                  <td>Doctor</td>
                  <td>Visit</td>
                  <td>Loc</td>
                </tr>
              </thead>
              {% for appointment in appointments %}
                {% if appointment.patient == patient  %}
              <tbody>
                <tr>
                  <td>{{appointment.status}}</td>
                  <td>{{appointment.date}}</td>
                  <td>{{appointment.time}}</td>
                  <td>{{appointment.doctor}}</td>
                  <td>{{appointment.visit}}</td>
                  <td>{{appointment.location}}</td>
                </tr>
              </tbody>
              {% endif %}
              {% endfor %}
            </table>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#schedule" style="margin-top: 2%;">
              Schedule Appointment
            </button>
            <form action="" method="post">
              {% csrf_token %}
              <div class="modal fade" id="schedule" tabindex="-1" aria-labelledby="Schedule Appointment" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Schedule an appointment</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      {{appointment_form}}
                        <!-- {{appointment_form.status}}
                        {{appointment_form.date}}
                        {{appointment_form.time}}
                        {{appointment_form.doctor}}
                        {{appointment_form.visit}}
                        {{appointment_form.location}} -->
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-success">Schedule</button>
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            
            
          </div>
        </div>

    </div>
</div>


{% endblock content %}