{% extends 'patientmonitoring/main.html' %}

{% block content %}
<style>

</style>

<div class="container-fluid" style="margin-top: 1%; padding:1%;">
  <div class="row">
      <div class="col-lg-2" style="background-color: white;display: flex; justify-content: center; align-items: center;">
        <div class="btn-group-vertical" style="display: block;">
          <a class="btn btn-outline-primary" href="#">Profile</a>
          <a class="btn btn-outline-primary" href="{% url 'appointment' patient.id %}">Appointment</a>
          <a class="btn btn-outline-primary">Vaccine</a>
          <a class="btn btn-outline-primary">Portal</a>
          <a class="btn btn-outline-primary">Certificate</a>
        </div>
      </div>

      <div class="col-lg-10" style="background-color: white">
        <div id="recordFormDiv">
          <form class="create-record-form" action="" method= "POST">
            {% csrf_token %}
            <table class="table table-bordered table-sm">
                <tbody>
                  <tr>
                    <td class="table-warning" style="text-align: left;"><b>Name</b></td>
                    <td class="table-warning">Nickname</td>
                    <td>{{patient_form.nick_name}}</td>
                    <td class="table-warning" colspan="2">Attending Doctor</td>
                    <td colspan="2">{{patient_form.attending_doctor}}</td>
                    <td class="table-warning">Patient Record #</td>
                    <td class="table-warning" id="record_no">000{{patient.id}}</td>
                  </tr>
                  <tr>
                    <td class="table-warning">First</td>
                    <td colspan="2">{{patient_form.first_name}}</td>
                    <td class="table-warning" >Last</td>
                    <td>{{patient_form.last_name}}</td>
                    <td class="table-warning">Middle</td>
                    <td>{{patient_form.middle_name}}</td>
                    <td class="table-warning">Suffix</td>
                    <td>{{patient_form.suffix}}</td>
                  </tr>
                  <tr>
                    <td class="table-warning">Sex</td>
                    <td colspan="2">{{patient_form.sex}}</td>
                    <td class="table-warning" colspan="2">Date of Birth</td>
                    <td colspan="2" oninput="format()">{{patient_form.birthdate}}</td>
                    <td class="table-warning">Age</td>
                    <td id="age"></td>
                  </tr>
                  <tr>
                    <td class="table-warning" style="text-align: left;"><b>Contact #</b></td>
                    <td class="table-warning">Mobile</td>
                    <td colspan="2">{{patient_form.cell_no}}</td>
                    <td class="table-warning" colspan="2">Landline</td>
                    <td>{{patient_form.landline}}</td>
                    <td class="table-warning">Email</td>
                    <td colspan="2">{{patient_form.email}}</td>
                  </tr>
                  <tr>
                    <td class="table-warning" style="text-align: left;"><b>Address</b></td>
                    <td class="table-warning" colspan="3">House/Unit No/LtBlk/Street</td>
                    <td colspan="2">{{patient_form.house_no}}</td>
                    <td class="table-warning">Barangay</td>
                    <td colspan="2">{{patient_form.barangay}}</td>
                  </tr>
                  <tr>
                    <td class="table-warning" colspan="2">City</td>
                    <td colspan="2">{{patient_form.city}}</td>
                    <td class="table-warning" colspan="2">Region</td>
                    <td>{{patient_form.region}}</td>
                    <td class="table-warning">Zip Code</td>
                    <td>{{patient_form.zip}}</td>
                  </tr>
                  <tr>
                      <td class="table-warning" style="text-align: left;" colspan="9"><b>Parent's Information</b></td>
                  </tr>
                  <tr>
                      <td class="table-warning">Mother</td>
                      <td class="table-warning">First Name</td>
                      <td>{{patient_form.mfname}}</td>
                      <td class="table-warning">Last Name</td>
                      <td>{{patient_form.mlname}}</td>
                      <td class="table-warning">Contact #</td>
                      <td>{{patient_form.mcontact}}</td>
                      <td class="table-warning">Email</td>
                      <td>{{patient_form.memail}}</td>
                  </tr>
                  <tr>
                    <td class="table-warning">Father</td>
                    <td class="table-warning">First Name</td>
                    <td>{{patient_form.ffname}}</td>
                    <td class="table-warning">Last Name</td>
                    <td>{{patient_form.flname}}</td>
                    <td class="table-warning">Contact #</td>
                    <td>{{patient_form.fcontact}}</td>
                    <td class="table-warning">Email</td>
                    <td>{{patient_form.femail}}</td>
                </tr>
                <tr>
                    <td class="table-warning" style="text-align: left;"><b>Emergency Contact</b></td>
                    <td class="table-warning" colspan="2">
                      <input type="checkbox" name="flexRadioDefault" id="contact" onclick="check(this)">
                      <label for="contact">Same as parent's information</label>
                    </td>
                    <td class="table-warning" colspan="6"></td>
                </tr>
                <tr>
                    <td class="table-warning">Name</td>
                    <td colspan="4">{{patient_form.c1full_name}}</td>
                    <td class="table-warning">Relation</td>
                    <td>{{patient_form.relation1}}</td>
                    <td class="table-warning">Contact #</td>
                    <td>{{patient_form.c1contact}}</td>
                </tr>
                <tr>
                    <td class="table-warning">Name</td>
                    <td colspan="4">{{patient_form.c2full_name}}</td>
                    <td class="table-warning">Relation</td>
                    <td>{{patient_form.relation2}}</td>
                    <td class="table-warning">Contact #</td>
                    <td>{{patient_form.c2contact}}</td>
                </tr>
                </tbody>
              </table>
        
            <button type="submit" class="btn btn-success">Save</button>
            <a class="btn btn-danger" href="{% url 'patient' patient.id %}">Cancel</a>
            <!-- <span class="fw-lighter" style="color: red;">*Required fields</span> -->
        </form>
        </div>
      </div>

<script>
  // --Age format--
  function format(){
    var dob = document.getElementById('dob').value;

    var month = new Date(dob).getMonth() + 1;
    var year = new Date(dob).getFullYear();
    var day = new Date(dob).getDate();

    var curr = new Date();

    var d = curr.getDate();
    var m = curr.getMonth() - month + 1;
    if(d < day){
      m -= 1;
    }
    var y = curr.getFullYear() - year;
    

    if(!isNaN(m) && !isNaN(y)){
      document.getElementById('age').innerHTML = y + " Y " + m + " M ";
    }
    else{
      document.getElementById('age').innerHTML = " ";
    }
  }

  // --Check box for Emergency Contact--
  function check(cb){
      var mlname = document.getElementById("mlname").value;
      var mfname = document.getElementById("mfname").value;
      var mcontact = document.getElementById("mcontact").value;

      var flname = document.getElementById("flname").value;
      var ffname = document.getElementById("ffname").value;
      var fcontact = document.getElementById("fcontact").value;

    if(cb.checked && mlname != "" && mfname != "" && mcontact != "" &&
       flname != "" && ffname != "" && fcontact != ""){
          document.getElementById("c1full_name").value = mfname + " "+ mlname;
          document.getElementById("relation1").value = "Mother";
          document.getElementById("c1contact").value = mcontact;

          document.getElementById("c2full_name").value = ffname + " " + flname;
          document.getElementById("relation2").value = "Father";
          document.getElementById("c2contact").value = fcontact;
    }
    else{
          document.getElementById("c1full_name").value = "";
          document.getElementById("relation1").value = "";
          document.getElementById("c1contact").value = "";

          document.getElementById("c2full_name").value = "";
          document.getElementById("relation2").value = "";
          document.getElementById("c2contact").value = "";
    }
  }
  
</script>

{% endblock content %}