{% extends 'patientmonitoring/main.html' %}

{% block content %}
<style>
  tr{
    cursor: pointer;
  }
  .form-control{
    margin-bottom: 10px;
  }
</style>
<div class="container" style="margin-top: 2%;">
    <div class="row" style="padding:1%">
        <div class="col-lg-6">
            <h3>Search Patient:</h3>
            <form method="get">
              <div class="row">
                <div class="col-sm-8">
                  {{patientFilter.form.id}}
                  {{patientFilter.form.first_name}}
                  {{patientFilter.form.last_name}}
                  {{patientFilter.form.birthdate}}
                  <button type="submit" style="width: 100%;" class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
                  <p class="fw-lighter" style="color: red;">*Do not input to get all the records.</p>
                </div>
              </div>
            </form>
        </div>
        
        <div class="col-lg-6">
          {% if messages %}
            {% for message in messages %}
              {% if message.tags == 'success' %}
                <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
                  <i class="fas fa-check-circle"></i>
                  <div class="message">
                    &nbsp;{{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>
              {% elif message.tags == 'error' %}
                <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
                  <i class="fas fa-times-circle"></i>
                  <div class="message">
                    &nbsp;{{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>  
              {% endif %}
            {% endfor %}  
          {% endif %}
          <a href="{% url 'createRecord' %}">
            <button type="submit" style="float:right; margin-bottom: 3%;"class="btn btn-primary">
              Create New Record
            </button>
          </a>
          {% if patientFilter.form.data %}
          <table id="rows" class="table table-primary table-bordered table-hover border-dark"> 
            <thead>
              <th>Record #</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Date of Birth</th>
            </thead>
            {% for patient in patients %}
            <tbody>
              <tr onclick="window.location='{% url 'patient' patient.id %}'">
                <td>000{{ patient.id }}</td>
                <td>{{ patient.first_name }}</td>
                <td>{{ patient.last_name }}</td>
                <td>{{ patient.birthdate }}</td>
              </tr>
            </tbody>
            {% empty %}
            <tr><td colspan="6" style="color: red;"><h6>No records found.</h6></td></tr>
            {% endfor %}
          </table>
          <a href="{% url 'home' %}">
            <button class="btn btn-danger"><i class="fas fa-search-minus"></i> Clear search</button>
          </a>
          {% endif %}  
        </div>
    </div>
</div>


{% endblock content %}
