{% extends 'patientmonitoring/main.html' %}

{% block content %}

<style>
</style>

<nav class="navbar navbar-expand-xl" style="background-color: rgb(214, 214, 214);">
    <div class="container-fluid">
      <div class="collapse navbar-collapse me-auto" id="navbarTogglerDemo02">
        <div style="margin-right: auto; margin-top: 10px;">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-custom">
            <li class="nav-item" style="margin-right: 5px">
              <h2>{{patient.first_name}}</h2>
            </li>
            <li class="nav-item" style="margin-right: 20px">
              <h2>{{patient.last_name}}</h2>
            </li>
            <li class="nav-item" style="margin-right: 20px">
              <i><h5 style="margin-top: 10px;">({{patient.nick_name}})</h5></i>
            </li>
            <li class="nav-item" style="margin-right: 20px">
              <i><h5 style="margin-top: 10px;">{{patient.age}} years {{months}} months</h5></i>
            </li>
            <li class="nav-item" style="margin-right: 20px">
              <i><h5 style="margin-top: 10px;">{{patient.sex}}</h5></i>
            </li>
            <li class="nav-item" style="margin-right: 20px">
              <i><h5 style="margin-top: 10px;">{{patient.birthdate}}</h5></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav> 

<div class="container-fluid" style="padding:1%; ">
    <div class="row">
        {% for message in messages %}
        <h2 id='messages' style="color: green; text-align: center;"> {{ message }}  </h2>
        {% endfor %}
      </div>
    <div class="row">
        <div class="col-lg-2" style="background-color: rgb(255, 255, 255);display: flex; justify-content: center; align-items: center; padding-top: 8%; padding-bottom: 8%;">
            <div class="btn-group-vertical" style="display: block;">
              <a class="btn btn-outline-primary" href="{% url 'patient' patient.id %}">Profile</a>
              <a class="btn btn-outline-primary" href="{% url 'appointment' patient.id %}">Appointment</a>
              <a class="btn btn-outline-primary">Vaccine</a>
              <a class="btn btn-outline-primary" href="#">Portal</a>
              <a class="btn btn-outline-primary" href="{% url 'certificate' patient.id %}">Certificate</a>
            </div>
        </div>

        <div class="col-lg-10" style="background-color: white; padding-top: 8%; padding-bottom: 8%;">
            <div class="portal-fields">
                <div class="col-lg-6" style="margin-left: 15%;">
                    <form method="post">
                        {% csrf_token %}
                        <div class="col-sm-8">
                            <h5>Username: </h5>{{portal_form.username}}
                            <h5>Email: </h5>{{portal_form.email}}
                            <h5>Password: </h5>{{portal_form.password1}}
                            <h5>Confirm Password: </h5>{{portal_form.password2}}
                        </div>
                        <div class="row mb-3">
                            <div class="col-sm-8" style="margin-top: 5%;">
                                <button type="submit" class="btn btn-primary">Create</button>
                                <button type="submit" class="btn btn-primary">Forgot</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>


{% endblock content %}